body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.box input {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
}

.box form div {
  position: relative;
}

.box form div label{
  position: absolute;
  top: 0px;
  left: 0px;
  color: #999;
  transition: 0.5s;
  pointer-events: none;
}

.box input:valid ~ label {
  top: -20px;
  color:blue;
  font-weight: bold;
  font-size: 12px;
}

.box input:focus,
.box input:valid {
  border-bottom: 2px solid blue;
}