.loader {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 150px;
  height: 150px;
  border: 2px solid #eae4ea;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  border-bottom: 2px solid #6ddfca;
  border-radius: 50%;
  animation: loader 3s linear infinite;
}
  
.loader:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 2px solid #eae4ea;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  border-bottom: 2px solid #d355be;
  border-radius: 50%;
  animation: loader 2s linear infinite;
}
  
.loader:after {
  content: '';
  position: absolute;
  top: 22px;
  left: 22px;
  bottom: 22px;
  right: 22px;
  border: 2px solid #eae4ea;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  border-bottom: 2px solid #8c23ec;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}
  
@keyframes loader
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
  transform: rotate(360deg);
  }
  
}

.bottom_block, .top_block {
  width: 100px;
  height: 100px;
  background-color: black;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.ball {
  position:absolute;
  width: 100px;
  height: 100px;
  background: #CC3F85;
  border-radius: 100%;
  animation: dws-bounce 3s linear infinite
}
@keyframes dws-bounce {
  0% { left: 100%; }
  25% { left:0; width:100px; height:100px; background: #CC3F85;}
  30% { left:0; width:110px; height:25px; background: red;}
  35% { left:0; width:100px; height:100px; }
  70% { left:40%; background: #CC3F85;}
  100% { left:100%; }
}


.infinite_div {
  background: red;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease;
  animation: rotate 5s linear infinite;
}

rectangle {
	width: 200px;
	height: 100px;
	background: red;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  20% { 	
    width: 200px;
    height: 100px;
    background: rgb(26, 204, 106);
  }

  40% { 
		width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #a05f33, #717f85);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(26, 204, 106);
  }        

  60% {
    width: 200px;
    height: 100px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
  }

}